.text-pink{
color:#ff6b9c;
}

.hero{

background:url("https://www.freepik.com/premium-ai-image/baby-clothes-shoes-toy-accessories-professional-advertising-photography_52151561.htm#fromView=keyword&page=1&position=17&uuid=a25b13a0-331b-4231-8cc4-46641bc685ef&query=Baby+shop");

background-size:cover;
background-position:center;

height:450px;

}

.btn-pink{

background:#ff6b9c;
color:white;
border:none;

}

.btn-pink:hover{

background:#ff4f88;

}

.offer{

background:#ff6b9c;
padding:70px 20px;

}

.card{

border:none;

box-shadow:0 5px 15px rgba(0,0,0,0.1);

transition:0.3s;

}

.card:hover{

transform:scale(1.05);

}


/* Mobile */

@media(max-width:768px){

.hero{
height:300px;
padding:40px;
}

.hero h1{
font-size:24px;
}

.hero p{
font-size:14px;
}

}